<div class="todo" layout="row" ng-class="{ checked: todoCtrl.todo.checked }">
    <!-- Checkbox -->
    <md-checkbox flex="5" ng-model="todoCtrl.todo.checked" ng-change="todoCtrl.onChecked()" aria-label="check"></md-checkbox>

    <!-- Input -->
    <md-input-container flex="90" md-no-float>
        <label>Todo</label>
        <input ng-model="todoCtrl.todo.content">
    </md-input-container>

    <!-- Delete icon -->
    <div flex="5" class="delete-icon"
         ng-click="todoCtrl.onDeleteIconClick()">
        <i class="fa fa-trash-o"></i>
    </div>
</div>
